@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: url(./assets/icons/arrow-down.svg) no-repeat;
  background-size: 26px 20px;
  background-position: 95% center;
}

input {
  outline: none;
}

body {
  @apply font-OpenSans font-normal text-[#242628];
}

.container {
  @apply max-w-[1160px] mx-auto;
}
.teal__btn {
  @apply bg-teal h-[50px] p-[10px_15px] text-[13px] rounded-lg text-white flex items-center gap-[10px] w-fit hover:bg-[#2b8f8a] duration-300;
}
.teal__btn.full {
  @apply w-full;
}
.teal__btn.lg {
  @apply text-[20px] h-[72px] px-6;
}
.teal__btn-lg {
  @apply bg-teal text-center justify-center p-[23px_42px] w-[454px] text-2xl rounded-lg text-white flex items-center gap-[10px] hover:bg-[#2b8f8a] duration-300;
}
.outline__btn {
  @apply border border-teal text-[20px] rounded-[7px] py-[23px] px-10 text-teal hover:bg-teal duration-300 hover:text-white;
}
.load__more-btn {
  @apply bg-transparent text-teal flex items-center gap-[10px] w-fit;
}
.load__more-btn svg {
  @apply rotate-90;
}
.load__more-btn.active svg {
  @apply -rotate-90;
}
.category__btn {
  @apply border border-[#E7E7E7] px-[10px] py-[5px] text-sm font-light text-[#696F79];
}
.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
}
.big__title {
  @apply text-[40px] font-bold leading-[54px] text-black;
}
.form__input {
  @apply bg-[#E7E7E7] h-[45px] py-[10px] border-b-[3px] border-teal outline-none px-5 text-sm font-light text-[#696F79] resize-none;
}
.form__input.light {
  @apply bg-[#FAFAFA] rounded-[6px] border-b-[1px] h-[65px] px-[18px];
}
.form__input.textarea {
  @apply h-[139px];
}
.form__input.big__textarea {
  @apply h-[871px];
}
/* core style end */
.banner {
  @apply bg-line bg-no-repeat bg-right;
}
.category__list a {
  @apply relative;
}
.category__list a.active {
  @apply text-teal font-bold;
}
.category__list a.active::before {
  @apply content-[''] absolute bottom-0 left-0 w-[17px] h-[1px] bg-teal rounded-[20px];
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 30px;
  column-gap: 40px;
  height: fit-content;
}
.parent__box > div:last-child {
  background: #000;
}
.parent__box > div:last-child {
  @apply border-none;
}
.tendence__bg {
  background: url(./assets/trends-bg.svg) no-repeat;
  background-size: contain;
  padding: 53px 56px;
  margin: 110px 0 47px 0;
  text-align: center;
}
