@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: url(./assets/icons/arrow-down.svg) no-repeat;
  background-size: 26px 20px;
  background-position: 95% center;
}

input {
  outline: none;
}

body {
  @apply font-OpenSans font-normal text-[#242628];
}

.container {
  @apply max-w-[1160px] mx-auto;
}
.container__xl {
  @apply max-w-[1534px] mx-auto;
}
.teal__btn {
  @apply bg-teal h-[50px] p-[10px_15px] text-[13px] rounded-lg text-white flex items-center gap-[10px] w-fit hover:bg-[#2b8f8a] duration-300;
}
.teal__btn.full {
  @apply w-full;
}
.teal__btn.lg {
  @apply text-[20px] h-[72px] px-6;
}
.teal__btn.xl {
  @apply text-[20px] h-[60px] px-[27px];
}
.teal__btn-lg {
  @apply bg-teal text-center justify-center p-[23px_42px] w-[454px] text-2xl rounded-lg text-white flex items-center gap-[10px] hover:bg-[#2b8f8a] duration-300;
}
.outline__btn {
  @apply border border-teal text-[20px] rounded-[7px] py-[23px] px-10 text-teal hover:bg-teal duration-300 hover:text-white;
}
.load__more-btn {
  @apply bg-transparent text-teal flex items-center gap-[10px] w-fit;
}
.load__more-btn svg {
  @apply rotate-90;
}
.load__more-btn.active svg {
  @apply -rotate-90;
}
.category__btn {
  @apply border border-[#E7E7E7] px-[10px] py-[5px] text-sm font-light text-[#696F79];
}
.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
}
.default__title {
  @apply text-2xl font-bold text-black;
}
.big__title {
  @apply text-[40px] font-bold leading-[54px] text-black;
}
.form__input {
  @apply bg-[#E7E7E7] h-[45px] py-[10px] border-b-[3px] border-teal outline-none px-5 text-sm font-light text-[#696F79] resize-none;
}
.form__input.light {
  @apply bg-[#FAFAFA] rounded-[6px] border-b-[1px] h-[65px] px-[18px];
}
.form__input.textarea {
  @apply h-[139px];
}
.form__input.big__textarea {
  @apply h-[871px];
}
/* core style end */
.banner {
  @apply bg-line bg-no-repeat bg-right;
}
.category__list a {
  @apply relative;
}
.category__list a.active {
  @apply text-teal font-bold;
}
.category__list a.active::before {
  @apply content-[''] absolute bottom-0 left-0 w-[17px] h-[1px] bg-teal rounded-[20px];
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 30px;
  column-gap: 40px;
  height: fit-content;
}
.parent__box > div:last-child {
  background: #000;
}
.parent__box > div:last-child {
  @apply border-none;
}
.tendence__bg {
  background: url(./assets/trends-bg.svg) no-repeat;
  background-size: contain;
  padding: 53px 56px;
  margin: 110px 0 47px 0;
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  column-gap: 94px;
  row-gap: 52px;
}

.footer__btn {
  height: 100%;
}

/* media */
@media screen and (max-width: 1300px) {
  .container {
    max-width: 95%;
  }
  .banner,
  footer {
    max-width: 95%;
    width: 100%;
    margin: 30px auto !important;
  }
}
@media screen and (max-width: 1095px) {
  .banner {
    padding: 2.5rem 20px;
  }
  .menu .close__btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background: #00aaa1;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    z-index: 99;
    transition: all 0.3s linear;
    @apply shadow-lg;
  }

  .menu.active {
    right: 0;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    color: #fff;
  }
  .menu svg path {
    stroke: #fff;
  }
  .menu button {
    color: #fff;
  }
  .menu button::before {
    background: #000;
  }
  .menu .line {
    display: none;
  }
  .hamburger__menu {
    display: block;
  }
  .tendence__bg {
    background: none;
    padding: 20px;
    margin: 0;
  }
  .tendence__bg h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .outline__btn,
  .teal__btn-lg {
    padding: 15px 20px;
    font-size: 16px;
  }
  .form__input.light {
    height: 50px;
  }
  .teal__btn.lg {
    height: 50px;
  }
  .big__title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    width: 100%;
  }
  .banner,
  footer {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    border-radius: 0;
  }
  .banner {
    margin-top: 0 !important;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
  }
  footer {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 26px;
  }
}
